#name {
    padding: 20px 0;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 500px;
    background-color: #4aaaa5;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #ffffff;
}

#info {
    padding-left: 130px;
    padding-right: 130px;
}

body {
    background-color: #dddddd
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #666666;
    text-align: center;
    border: 5px;
    border-color: #4aaaa5;

}
