#title {
    width: 100%;
    height: 65px;
    border-bottom: .5px solid #666666;
    background-color: #ffffff;
    margin: 0;
}

#name {
    float: left;
    padding: 20px;
    margin-top: 0;
    margin-left: 270px;
    background-color: #4aaaa5;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #ffffff;
}

#tabs {
    float: right;
    padding: 2px;
    margin-right: 250px;
}

.link {
    float: left;
    padding-right: 25px;
    color: #666666;
}

#main {
    clear: both;
    padding: 10px;
    width: 960px;
    margin-left: 270px;
    margin-top: 40px;
    background-color: #ffffff;
}

#me {
    font-size: 22px;
    color: #4aaaa5;
    margin-left: 20px;
}

#info {
    clear: both;
    padding: 30px;
}

#photo {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

body {
    background-color: #dddddd;
    background-image: url("felt_@2X.png");
}


input [type=text], select, textarea {
    width: 100%;
    border: .5px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 20px;
    resize: vertical;
}

input [type=submit] {
    padding: 12px 15px;
    background-color: #4aaaa5;
    color: white;
    cursor: pointer;
}

#fname {
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 17px;
    width: 95%;
}

#email {
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 17px;
    width: 95%;
}

#message {
    padding: 5px 5px 150px 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 17px;
    width: 95%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #666666;
    text-align: center;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
}
